<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1>
 Hello, Welcome in a books catalogue
</h1>
<form action="/search" method="POST">

 <label>Search for a book using ISBN:</label>
    <br><br>
    <input type="text" name="isbn" placeholder="ISBN" autofocus="">

    <button type="submit">Submit</button>
</form>
{% endblock %}