
<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/login">
    <div>
        <label>Email: </label>
        <input type="email" name="email" placeholder="Please enter your email" autofocus="">
    </div>
    <div>
        <label>Password: </label>
        <input type="password" name="password" placeholder="Please enter password" autofocus="">
    </div>
    <div>
        <label>Remember me</label>
        <input type="checkbox" name="remember_me"> Remember
    </div>
    <button>Sign in</button>
</form>

{% endblock %}