<!-- templates/search_book.html -->

{% extends "base.html" %}

{% block content %}
<form action="/search" method="POST">

 <label>Search for a book using ISBN:</label>
    <br><br>
    <input type="text" name="isbn" placeholder="ISBN" autofocus="">

    <button type="submit">Submit</button>
</form>
{%if found_book %}
{{found_book.title}} <br>
{{found_book.author}} <br>
{{found_book.page_count}} <br>
{{found_book.average_rating}} <br>
{%endif%}
{% endblock %}