<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div>
    <h3>Sign Up</h3>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div>
                <div>
                    <input type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input  type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button>Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}